<div class="Annoucement_card">
	<div class="text-center">
		<div>
			<h5 class="title mt-0 mb-1 ml-2 font-weight-bold tx-12 Vazir-Bold-20px text-center">
				اعلامیه
			</h5>
            <div class="bg-layer py-4">
				<img src="~/images/areas/telegrambot/annoucement/announcement-01.png" class="py-3 text-center mx-auto" alt="announcement" title="announcement" />
			</div>
			<p class="subtext mt-0 mb-0 ml-2 mt-2 fs-13 text-center my-2 Vazir-14px text-center">
				????????
			</p>
		</div>
	</div>
	<a class="btn btn-block btn-outline fs-12 mt-5 Vazir-12px text-center" asp-area="TelegramBot" asp-controller="Home" asp-action="Index">
		???????
	</a>
</div>