@model ATNetCoreTelegramBot.ViewModels.Areas.TelegramBot.GroupViewModel

<div class="col-xl-3 col-lg-6 col-md-12">
    <div class="card">
        <div class="card-body">
            <i class="mdi mdi-group card-custom-icon icon-dropshadow-secondary text-secondary fs-60"></i>
            <p class=" mb-1">
                تعداد کل گروه ها
            </p>
            <h2 class="mb-1 font-weight-bold">
                @Model.Total
            </h2>
            @*
                <span class="mb-1 text-muted">
                    <span class="text-success">
                        <i class="fa fa-caret-up  ml-1"></i>
                        0.8%
                    </span>
                    نسبت به ماه گذشته
                </span>
            *@
        </div>
    </div>
</div>