<div class="switcher-wrapper">
    <div class="demo_changer">
        <div class="demo-icon bg_dark">
            <i class="fa fa-cog fa-spin  text_primary"></i>
        </div>
        <div class="form_holder sidebar-left1">
            <div class="row">
                <div class="predefined_styles">
                    <div class="swichermainleft">
                        <h4 class="Vazir-Bold-16px text-center">
                            Theme
                        </h4>
                        <div class="switch_section d-flex my-4">
                            <ul class="switch-buttons row">
                                <li class="col-md-6 mb-0">
                                    <button type="button" id="background-left1" class="bg-hor1 wscolorcode1 button-image"></button>
                                    <span class="d-block Vazir-14px text-center">
                                        Light Theme
                                    </span>
                                </li>
                                <li class="col-md-6 mb-0">
                                    <button type="button" id="background-left2" class="bg-hor2 wscolorcode1 button-image"></button>
                                    <span class="d-block Vazir-14px text-center">
                                        Dark Theme
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4 class="Vazir-Bold-16px text-center">
                            Header Styles Mode
                        </h4>
                        <div class="switch_section d-flex my-4">
                            <ul class="switch-buttons row">
                                <li class="col-md-6 light-bg">
                                    <button type="button" id="background1" class="bg-hor3 wscolorcode1 button-image"></button>
                                    <span class="d-block Vazir-14px text-center">
                                        Light Header
                                    </span>
                                </li>
                                <li class="col-md-6">
                                    <button type="button" id="background2" class="bg-hor4 wscolorcode1 button-image"></button>
                                    <span class="d-block Vazir-14px text-center">
                                        Color Header
                                    </span>
                                </li>
                                <li class="col-md-6 d-block mx-auto dark-bg">
                                    <button type="button" id="background3" class="bg-hor5 wscolorcode1 button-image"></button>
                                    <span class="d-block Vazir-14px text-center">
                                        Dark Header
                                    </span>
                                </li>
                                <li class="col-md-6 d-block mx-auto">
                                    <button type="button" id="background11" class="bg-hor10  wscolorcode1 button-image"></button>
                                    <span class="d-block Vazir-14px text-center">
                                        Gradient Header
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swichermainleft">
                        <h4 class="Vazir-Bold-16px text-center">
                            Leftmenu Styles
                        </h4>
                        <div class="switch_section d-flex my-4">
                            <ul class="switch-buttons row">
                                <li class="col-md-6 mb-4">
                                    <button type="button" id="background4" class="bg4 wscolorcode1 button-image"></button>
                                    <span class="d-block Vazir-14px text-center">
                                        Light Menu
                                    </span>
                                </li>
                                <li class="col-md-6 mb-4">
                                    <button type="button" id="background5" class="bg5 wscolorcode1 button-image"></button>
                                    <span class="d-block Vazir-14px text-center">
                                        Color Menu
                                    </span>
                                </li>
                                <li class="col-md-6 mb-0 d-block mx-auto dark-bgmenu">
                                    <button type="button" id="background6" class="bg6 wscolorcode1 button-image"></button>
                                    <span class="d-block Vazir-14px text-center">
                                        Dark Menu
                                    </span>
                                </li>
                                <li class="col-md-6 mb-4">
                                    <button type="button" id="background10" class="bg7 wscolorcode1 button-image"></button>
                                    <span class="d-block Vazir-14px text-center">
                                        Gradient Menu
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>