<div class="row">
    <div class="col mb-4">
        <a class="btn btn-default Vazir-14px" asp-area="" asp-controller="Windows" asp-action="Start">
            <span class="mr-2">
                افزودن
            </span>
        </a>
    </div>
    <div class="col col-auto mb-4">
        <a class="btn btn-default Vazir-14px" data-toggle="modal" data-target=".bd-example-modal-lg">
            <img src="~/images/Search/Package 03/Style 02/024px.png" alt="Search" title="Search" />
            <span class="mr-2">
                جستجوی پیشرفته
            </span>
        </a>
    </div>
</div>