<div class="dropdown header-flags">
    <a class="nav-link icon" data-toggle="dropdown">
        <img src="~/images/CountiresFlagAvatars/iran.png" class="h-24" alt="iran" title="iran" />
    </a>
    <div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow animated">
        <a href="#" class="dropdown-item d-flex ">
            <span class="avatar  mr-3 align-self-center bg-transparent">
                <img src="~/images/CountiresFlagAvatars/britain.png" class="h-24" alt="britain" title="britain" />
            </span>
            <div class="d-flex">
                <span class="my-auto">
                    انگلیس
                </span>
            </div>
        </a>
    </div>
</div>