<div class="dropdown header-fullscreen">
    <a class="nav-link icon full-screen-link">
        <i class="feather feather-maximize fullscreen-button fullscreen header-icons"></i>
        <i class="feather feather-minimize fullscreen-button exit-fullscreen header-icons"></i>
    </a>
</div>