<div class="dropdown header-notify">
    <a class="nav-link icon" data-toggle="sidebar-left" data-target=".sidebar-left">
        <i class="feather feather-bell header-icon"></i>
        <span class="bg-dot"></span>
    </a>
</div>