<div class="page-header d-xl-flex d-block">
    <div class="page-leftheader">
        <h4 class="page-title Vazir-20px">
            <span class="font-weight-normal text-muted ml-2">
                داشبورد
            </span>
            Telegram Bot
        </h4>
    </div>
    <div class="page-leftheader mr-md-auto">
        <div class="d-flex align-items-end flex-wrap my-auto left-content breadcrumb-left">
            <div class="d-lg-flex d-block">
                <div class="btn-list">
                    <button class="btn btn-blue" data-placement="top" data-toggle="tooltip" title="اطلاعیه">
                        <i class="feather feather-info"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>