<li id="SlideDashboard" class="slide">
    <a id="SlideDashboard_Main" class="side-menu__item" data-toggle="slide" asp-area="TelegramBot" asp-controller="Dashboard" asp-action="Index">
        <i class="fa fa-dashboard sidemenu_icon"></i>
        <span class="side-menu__label Vazir-14px">
            داشبورد 
        </span>
    </a>
</li>