@{
    string ClassTextAlign = default(string);
    string ClassAngle = default(string);
    string ClassSubAngle = default(string);
    string StyleDirection = default(string);
}

@{
    ClassTextAlign = default(string);
    ClassAngle = "angle fa fa-angle-left";
    ClassSubAngle = "sub-angle fa fa-angle-left";
    StyleDirection = "direction: rtl;";
}

<li id="SlideCustomerManagementDashboard" class="slide">
    <a id="SlideCustomerManagementDashboard_CustomerManagementDashboard" class="side-menu__item" data-toggle="slide" asp-area="TelegramBot" asp-controller="Dashboard" asp-action="Index">
        <i class="fa fa-dashboard sidemenu_icon"></i>
        <span class="side-menu__label Vazir-14px @ClassTextAlign">
            داشبورد 
        </span>
    </a>
</li>