<li id="SlideCustomerManagementDashboard" class="slide">
    <a id="SlideCustomerManagementDashboard_CustomerManagementDashboard" class="side-menu__item" data-toggle="slide" asp-area="TelegramBot" asp-controller="Home" asp-action="Index">
        <i class="fa fa-home sidemenu_icon"></i>
        <span class="side-menu__label Vazir-14px">
            صفحه اصلی
        </span>
    </a>
</li>