@{
    string? ClassTextAlign = default(string);
    string? ClassAngle = default(string);
    string? ClassSubAngle = default(string);
    string? StyleDirection = default(string);
}

@{
    ClassTextAlign = default(string);
    ClassAngle = "angle fa fa-angle-left";
    ClassSubAngle = "sub-angle fa fa-angle-left";
    StyleDirection = "direction: rtl;";
}

<li id="SlideBasicInformation" class="slide">
    <a id="SlideBasicInformation_Main" class="side-menu__item" data-toggle="slide" href="#">
        <i class="feather feather-info sidemenu_icon"></i>
        <span class="side-menu__label Vazir-14px @ClassTextAlign">
            اطلاعات پایه
        </span>
        <i class="@ClassAngle"></i>
    </a>
    <ul class="slide-menu">
        <li class="sub-slide">
            <a id="SlideBasicInformation_ViewAllGroups" class="sub-side-menu__item" data-toggle="sub-slide" asp-area="TelegramBot" asp-controller="Group" asp-action="Index">
                <span class="sub-side-menu__label Vazir-14px" style="@StyleDirection">
                    گروه ها
                </span>
            </a>
            <a id="SlideBasicInformation_ViewAllChannels" class="sub-side-menu__item" data-toggle="sub-slide" asp-area="TelegramBot" asp-controller="Channel" asp-action="Index">
                <span class="sub-side-menu__label Vazir-14px" style="@StyleDirection">
                    کانال ها
                </span>
            </a>
        </li>
    </ul>
</li>